<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" data-attributes='%7B%22dropped%22%3Atrue%2C%22columns%22%3A1%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22cellpadding%22%3A0%2C%22containerbackground%22%3A%22%22%7D'>
  <tr><td style="padding: 0px 0px 0px 0px;" bgcolor="">
    <table class="columns--container-table" border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
      <tr role="module-content">
        <td style="padding: 0px 0px 0px 0px" role="column-0" align="center" valign="top" width="100%" height="100%" class="templateColumnContainer column-drop-area ">
  <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0"  width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
<tr>
  <td role="module-content"  valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor="#ffffff"><div><strong style="font-variant: normal; font-size: 14px; line-height: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"><span style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Detalles del Pedido</span></span></strong></div> </td>
</tr>
</table>
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22spacing%22%3A30%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
<tr><td role="module-content" style="padding: 0px 0px 30px 0px;" bgcolor="#ffffff"></td></tr></table>

</td>
      </tr>
    </table>
  </td></tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" data-attributes='%7B%22dropped%22%3Atrue%2C%22columns%22%3A3%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22cellpadding%22%3A0%2C%22containerbackground%22%3A%22%22%7D'>
  <tr><td style="padding: 0px 0px 0px 0px;" bgcolor="">
    <table class="columns--container-table" border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
      <tr role="module-content">
        <td style="padding: 0px 0px 0px 0px" role="column-0" align="center" valign="top" width="33.333333333333336%" height="100%" class="templateColumnContainer column-drop-area ">
  <table role="module" data-type="image" border="0" align="center" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" class="wrapper" data-attributes='%7B%22child%22%3Afalse%2C%22link%22%3A%22%22%2C%22width%22%3A%22195%22%2C%22height%22%3A%2290%22%2C%22imagebackground%22%3A%22%23FFFFFF%22%2C%22url%22%3A%22http%3A//actual-api.herokuapp.com/uploads/products/14658377854983162650.png%22%2C%22alt_text%22%3A%22%22%2C%22dropped%22%3Atrue%2C%22imagemargin%22%3A%220%2C0%2C0%2C0%22%2C%22alignment%22%3A%22center%22%2C%22responsive%22%3Afalse%7D'>
<tr>
  <td style="font-size:6px;line-height:10px;background-color:#FFFFFF;padding: 0px 0px 0px 0px;" valign="top" align="center" role="module-content">
    <img class="max-width"  width="195"   height="90"  src="http://actual-api.herokuapp.com/uploads/products/14658377854983162650.png" alt="" border="0" style="display: block; color: #000; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px; " />
  </td>
</tr>

</table>
</td><td style="padding: 0px 0px 0px 0px" role="column-1" align="center" valign="top" width="33.333333333333336%" height="100%" class="templateColumnContainer column-drop-area ">
  <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0"  width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
<tr>
  <td role="module-content"  valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor="#ffffff"><div> <div style="text-align: center;"><%=product_name%></div>  <div style="text-align: center;"><%=product_quantity%> piezas.</div> </div> </td>
</tr>
  </table>
</td>
<td style="padding: 0px 0px 0px 0px" role="column-2" align="center" valign="top" width="33.333333333333336%" height="100%" class="templateColumnContainer column-drop-area ">
  <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0"  width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
	<tr>
	  <td role="module-content"  valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor="#ffffff">
	    <div style="text-align: right;">
	      $ <%=product_total%>
	    </div> 
	  </td>
	</tr>
   </table>
</td>
      </tr>
    </table>
  </td>
</tr>
</table>
