<!--[item-start]-->
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="module wrapper" role="module" data-type="imagetext" data-attributes='%7B%22dropped%22%3Atrue%2C%22imagebackground%22%3A%22%23ffffff%22%2C%22imagemargin%22%3A%220%2C0%2C0%2C0%22%2C%22textbackground%22%3A%22%23FFFFFF%22%2C%22textmargin%22%3A%220%2C0%2C0%2C0%22%2C%22imagealignment%22%3A%22left%22%7D'>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr role="module-content">
          <td align="center" valign="top" width="50%" height="100%" class="templateColumnContainer"  bgcolor="#ffffff" >
            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
              <tr>
                <td class="leftColumnContent" role="column-one" height="100%" style="height:100%;width:50%; padding: 0px 0px 0px 0px;"><table role="module" data-type="image" border="0" align="center" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" class="wrapper" data-attributes='%7B%22child%22%3Atrue%2C%22link%22%3A%22%22%2C%22width%22%3A90%2C%22height%22%3A90%2C%22imagebackground%22%3A%22%23ffffff%22%2C%22url%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/b01f3df0718476ba31b5e675a536fa4a5af0a74dcd32dc980ca1e6f2acebf47ab9690fb8de4a012a9c25e6e22315f31f58f380105b2e64b1a787720b955afbb3.jpg%22%2C%22alt_text%22%3A%22%22%2C%22dropped%22%3Atrue%2C%22imagemargin%22%3A%220%2C0%2C0%2C0%22%2C%22alignment%22%3A%22center%22%2C%22responsive%22%3Afalse%7D'>
<tr>
  <td style="font-size:6px;line-height:10px;background-color:#ffffff;padding: 0px 0px 0px 0px;" valign="top" align="center" role="module-content">

  <img class="max-width"  width="90"   height="90"  src="https://marketing-image-production.s3.amazonaws.com/uploads/b01f3df0718476ba31b5e675a536fa4a5af0a74dcd32dc980ca1e6f2acebf47ab9690fb8de4a012a9c25e6e22315f31f58f380105b2e64b1a787720b955afbb3.jpg" alt="" border="0" style="display: block; color: #000; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px; " />

</td>
</tr>
</table></td>
              </tr>
            </table>
          </td>
          <td align="center" valign="top" width="50%" height="100%" class="templateColumnContainer"  bgcolor="#FFFFFF" >
            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
              <tr>
                <td class="rightColumnContent" role="column-two" height="100%" style="height:100%;width:50%; padding: 0px 0px 0px 0px;"><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Atrue%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23FFFFFF%22%7D'>
<tr>
  <td role="module-content"  valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor="#FFFFFF"><div>&nbsp;</div>  <div>&nbsp;</div>  <div><strong><font color="#006699">%product_description%</font>&nbsp;</strong> &nbsp; <strong>$%product_price%</strong></div>  <div>&nbsp;</div>  <div>&nbsp;</div>  <div>&nbsp;</div> </td>
</tr>
</table>
</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--[item-end]-->

