
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My Email Subject</title>
  </head>
  <body>
    <!-- <style> -->
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            <table align="center" class="container float-center"><tbody><tr><td>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <img class="logo" src="<%=company.image%>" alt="">
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
              <table class="row margin-top-20"><tbody><tr>
                <th class="padding-top-10 small-12 large-12 columns first last"><table><tr><th>
                  <p>
                    Estimado <strong><%=client.name%></%=client.name%></strong>,
                  </p>
                  <p class="margin-top-5">
                    A continuación le envío su cotización solicitada.
                  </p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
              <hr>
              <!-- PRODUCTS TITLE -->
              <table class="row title"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <p>
                    <img src="<%=company.url%>/icons/checkout-ticket.png">
                    <strong>
                      ARTÍCULOS
                    </strong>
                  </p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
              <!-- END PRODUCTS TITLE -->
              <!-- PRODUCT -->
              <% products.forEach(function(product){ %>
              <table class="row"><tbody><tr>
                <th class="padding-top-10 small-12 large-12 columns first last"><table><tr><th>
                  <p>
                    <strong class="uppercase">
                      <%=product.name%>
                    </%=product.name%></strong>    
                  </p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
              <table class="row"><tbody><tr>
                <th class="padding-top-3 small-3 large-2 columns first"><table><tr><th>
                  <span style="display:inline-block;border:2px solid black;">
                    <img width="62" height="62" class="img-60-60" src="<%=product.image%>">
                  </span>
                </th></tr></table></th>
                <th class="no-padding p-no-margin-bottom small-2 large-1 columns"><table><tr><th>
                  <% if (product.code) { %>
                    <p class="uppercase height-4">
                      <strong class="capitalize">Código:</strong>
                    </p>
                  <% } %>
            
                  <% if (product.color) { %>
                    <p class="lowercase height-4">
                      <strong class="capitalize">Color:</strong>
                    </p>
                  <% } %>
            
                  <% if (product.material) { %>
                    <p class="lowercase height-4">
                      <strong class="capitalize">Material:</strong>
                    </p>
                  <% } %>
            
                  <% if (product.warranty) { %>
                    <p class="lowercase height-4">
                      <strong class="capitalize">Garantía:</strong>
                    </p>
                  <% } %>
                </th></tr></table></th>
                <th class="no-padding p-no-margin-bottom small-2 large-1 columns"><table><tr><th>
                  <% if (product.code) { %>
                    <p class="uppercase height-4">
                      <%=product.code%> 
                    </%=product.code%></p>
                  <% } %>
            
                  <% if (product.color) { %>
                    <p class="lowercase height-4">
                      <%=product.color%>
                    </%=product.color%></p>
                  <% } %>
            
                  <% if (product.material) { %>
                    <p class="lowercase height-4">
                      <%=product.material%>
                    </%=product.material%></p>
                  <% } %>
            
                  <% if (product.warranty) { %>
                    <p class="lowercase height-4">
                      <%=product.warranty%>
                    </%=product.warranty%></p>
                  <% } %>
                </th></tr></table></th>
                <th class="no-padding align-center small-2 large-2 columns"><table><tr><th>
                  <p>
                    <strong class="uppercase">Cantidad</strong>
                  </p>
                  <p>
                    <%=product.qty%>
                  </%=product.qty%></p>
                </th></tr></table></th>
                <th class="no-padding align-center hide-small small-2 large-3 columns"><table><tr><th>
                  <p>
                    <strong class="uppercase">Entrega aprox.</strong>
                  </p>
                  <p>
                    <%=product.ship%>
                  </%=product.ship%></p>
                </th></tr></table></th>
                <th class="no-padding align-center small-3 large-3 columns last"><table><tr><th>
                  <p>
                    <strong class="uppercase">Precio</strong>
                  </p>
                  <p class="uppercase right-align" align="right">
                    $<%=product.price%> MXN
                  </%=product.price%></p>
                </th></tr></table></th>
              </tr></tbody></table>
            
              <table class="row"><tbody><tr>
                <% if (product.ewallet) { %>
                  <!-- HIDDEN ON SMALL -->
                  <th class="hide-small small-4 large-4 columns first"><table><tr><th>
                  </th></tr></table></th>
                  <th class="hide-small small-8 large-8 columns last"><table><tr><th> 
                    <p class="align-right margin-top-10-n margin-left-25">
                      *Beneficio monedero electrónico $100.00 MXN
                    </p>
                  </th></tr></table></th>
                  <!-- END HIDDEN ON SMALL -->
                <% } %>
              </tr></tbody></table>
              <!-- PRODUCT END -->
              <% }); %>
              <hr>
              <!-- EWALLET TITLE -->
              <table class="row title"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <p>
                    <img src="<%=company.url%>/icons/ewallet.png">
                    <strong>
                      MONEDERO ELÉCTRONICO
                    </strong>
                  </p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
              <!-- END EWALLET TITLE -->
              <!-- EWALLET RESUME -->
              <table class="row"><tbody><tr>
                <th class="small-4 large-4 columns first"><table><tr><th>
                </th></tr></table></th>
                <th class="no-padding-large align-right p-no-margin-bottom small-5 large-5 columns"><table><tr><th>
                  <p class="font-10 no-margin">
                    <strong>
                      SALDO ACTUAL:
                    </strong>
                  </p>
                </th></tr></table></th>
                <th class="no-padding align-center p-no-margin-bottom small-3 large-3 columns last"><table><tr><th>
                  <p class="right-align" align="right">
                    <strong>
                      $<%=ewallet.balance%> MXN
                    </%=ewallet.balance%></strong>
                  </p>
                </th></tr></table></th>
              </tr></tbody></table>
              <!-- END EWALLET RESUME -->
              <table class="row margin-top-5"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <p class="margin-top-4">
                    Sin más por el momento quedo a sus ordenes.
                  </p>
                  <p class="margin-top-4">
                    Saludos cordiales.
                  </p>
                  <p class="margin-top-4">
                    <%=user.name%> 
                    <br>
                    <%=user.email%>
                    <br>
                    <%=user.phone%>
                  </%=user.phone%></%=user.email%></%=user.name%></p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
              <hr>
              <!-- Store -->
              <table class="row font-8 align-center"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <p>
                    Mensaje enviado por Actual Group. 
                  </p>
                  <p>
                    Av. Xcaret SM 36 Mza 2 Lote 3
                  </p>
                  <p>
                    77500 Cancún, Quintana Roo, México 
                  </p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
              <!-- END SHIPMENT-->
            </td></tr></tbody></table>
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

